{
  "check-coverage": true,
  "reporter": ["lcov", "text-summary"],
  "all": true,
  "include": ["src/**/*.js"],
  "exclude": ["test/**/*.js"],
  "branches": 80,
  "lines": 80,
  "functions": 80,
  "statements": 80
}

